*{
    background-color: #e8ebea;
    font-family: 'YouTube Sans', sans-serif;
    font-family: 'YouTube Sans Dark', sans-serif;
}
html{
    height: 95%;
}
body{
    background-color: #e8ebea;
    height: 90%;
}
h1{
    color: #004b96;
}
h2{
    color: beige;
    padding-top: 5px;
}
h3{
    color: #004b96;
}
p{
    color: #004b96;

}
li{
    color: #004b96;
}
a{
    color: #004b96;
}
.hro{
    padding-right: 5vw;
    padding-top: 2vw;
}

.hero-unit{
    height: 95%;
}
.about{
    height: 95%;
}
.circle{
    border-radius: 50%;
}
.img-border{
    border-color: #004b96;
    border-width: 6px;
    border-style: outset;
    border-radius: 50%;
}
/* not active */
.nav-pills .nav-link:not(.active) {
    background-color: #e8ebea;
}

/* active (faded) */
.nav-pills .nav-link {
    background-color: #e8ebea;
    color: #004b96;
}
#lol{
    background: rgb(26,26,29);
    background: linear-gradient(28deg, rgba(26,26,29,1) 0%, rgba(26,26,29,1) 63%, rgba(131,172,240,1) 100%);

}
.grad{
    background-color: transparent;
}
.car{
    background-color: transparent;
}
